svg {
  background: white;
}

.node {
  fill: lightgray;
  stroke: gray;
  stroke-width: 2px;
}
.node:hover {
  stroke-width: 3px;
  stroke: #555;
}
.link {
  stroke: #004;
  fill: none;
  opacity: 0.2;
}
.blurred.link {
  opacity: 0.05;
}
.label {
  text-anchor: middle;
  font-size: 16px;
  fill: #444;
  font-weight: bold;
  font-family: sans-serif;
  pointer-events: none;
}

.flowline {
  stroke-dasharray: 78, 2;
  animation: flow 6s linear infinite;
  -webkit-animation: flow 6s linear infinite;
}

@keyframes flow {
  from {
    stroke-dashoffset: 80;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes flow {
  from {
    stroke-dashoffset: 80;
  }

  to {
    stroke-dashoffset: 0;
  }
}